body {
    background-color: lightcyan;
}

table {
    border-collapse: collapse
}

td{
    
    border: 2px solid black;
    padding: 10 px;
}

th{
    border: 1px black;
    padding: 10 px;

}

p{
    margin: 20px;
    padding: 10 px;
    background: red;
    color:white;
}